<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div ng-controller="SearchCtrl">
            <form ng-submit="search()">
                <h3>填入location id</h3>
                <input type="text" name="text" ng-model="locationID" />
                <input type="submit" />
            </form>
        </div>
        <div ng-view></div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
        
        <script src="javascripts/index.js"></script>
    </body>
</html>
